@import "./variables.css";

.l-header {
  background-color: red;
  height: 100px;
}

.l-menu {
  background-color: blue;
  height: 900px;
  width: 200px;
}

.l-dopMenu {
  padding: 0;
  margin-right: 0;
  background-color: darkgreen;
  height: 60px;
  margin-left: 200px;
}

.l-content {
  margin-left: 200px;
  margin-right: 0;
  margin-top: 20px;
  background-color: aqua;
}

.l-footer {
  height: 100px;
  background-color: darkorchid;
}
