@import "./variables.css";

.l-header_image {
  width: 70px;
}

.l-header_block{
    height: 100px;
}

.l-content_leftBlock{
    background-color: chartreuse;
}

.l-content_leftBlock_footer{

}

.l-content_rightBlock{
    padding: 0;
    background-color: coral;
}

.l-content_photoBlock{
    background-color: grey;
    text-align: center;
}

.l-content_photo{
    width: 400px;
}