@import "./variables.css";

.l-header_image {
  width: 70px;
}

.l-header_block {
  height: 100px;
}

.l-menu_mainText {
  font-size: 28px;
}

.l-menu_p {
  font-size: 23px;
}

.l-content_main-Text{
    font-size: 36px;
    text-align: center;
}

.l-content_leftBlock {
  background-color: var(--background-color);
  align-items: center;
  border-right: 1px solid black;
}

.l-content_rightBlock {
  padding: 0;
  background-color: var(--background-color);
  align-items: center;
}

.l-content_photoBlock {
  text-align: center;
  border: 2px solid black;
  border-radius: 15px;
  margin-top: 10px;
}

.l-content_photo {
  width: 300px;
  border-radius: 15px;
}

.l-footer_p {
  margin-top: 25px;
}
